Data/Cubes/087.A-0700_RXCJ0454J.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/SmallCube_AS1063_CMSub.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/put_cubes_in_rest_frame.py filter=lfs diff=lfs merge=lfs -text
Data/Cubes/smallcube_as1063_rest_frame.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/smallcube_a370_mosaic_rest_frame.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/087.A-0700_A2390J.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/087.A-0700_MACSJ1206J.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/Cube_SINFONI_MACS1206_sigmaclipped.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/Cube_SINFONI_MACS1206_sigmaclipped_flux_corrected.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/MUSE_SmallCube_MACS1206_arc_CMSub.fits filter=lfs diff=lfs merge=lfs -text
Data/Cubes/SmallCube_A370_mosaic_CMSub.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/PSF_centre.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_Map_metallicity_poly3.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/clump.dat filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/imult.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/newsimple_dplx_norm_shift.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/para.out filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/MACS1206_amp.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/MACS1206_ci_F160w.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_HST filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_2_3.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/gamma1-norm.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/source_ci.par filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/poly3.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/MACS1206_dplx.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/MACS1206_dply.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/MACS1206_kappa.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_Map_metallicity_poly1.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_Maps filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/poly1.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/poly2.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/pot.dat filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/PSF_2.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_1_1.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_centre_1.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_centre_2.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/ci.dat filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/clean.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/source_poly1.par filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/Map_metallicity.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_1_2.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_centre_3.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/gamma2-norm.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/PSF_1.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_1_3.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/center1.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/erreur.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/source_poly2.par filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/source_poly3.par filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/HST_ci.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_Map_metallicity_poly2.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/center2.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/simul_MACS1206_azimuth_map_source_plane.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_2_1.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/SP_PSF_2_2.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/center3.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/center_HST_ci.dwcs filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/newsimple_dply_norm_shift.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/poten-norm.fits filter=lfs diff=lfs merge=lfs -text
Data/Lensing/MACS1206/simul_MACS1206_distance_kpc_source_plane.fits filter=lfs diff=lfs merge=lfs -text
